.env
.nova
.maid
.cache
.github/artifacts

*.so
*.dylib
*.dll

/build
/traces
/todo/*

/src/pkg/.zig-cache
/src/strip/target

/test262
/javascript-zoo
/game-of-life

/vendor/*/
/vendor/.wraplock
!/vendor/packagefiles

*.todo
*.trace

ant.txt
zoo.sh
AGENTS.md

node_modules
bun.lock
pnpm-lock.yaml
package-lock.json