.nova
.cache
.env

*.so
*.dylib
*.dll

/build
/traces
/javascript-zoo

/subprojects/*/
/subprojects/.wraplock
!/subprojects/packagefiles

*.todo
*.trace

spec.txt
todo.txt

node_modules
bun.lock
pnpm-lock.yaml
package-lock.json