.env
.nova
.cache
.github/artifacts

*.so
*.dylib
*.dll

/build
/traces

/src/pkg/.zig-cache
/src/strip/target

/test262
/javascript-zoo

/vendor/*/
/vendor/.wraplock
!/vendor/packagefiles

*.todo
*.trace

ant.txt
zoo.sh
todo.txt
AGENTS.md

node_modules
bun.lock
pnpm-lock.yaml
package-lock.json