[tasks.build]
path = "build"
script = "meson compile"

[tasks.clean]
path = "build"
script = "meson clean"

[tasks.run]
script = ["maid build -q", "./build/ant %{arg.1}"]

[tasks.debug]
script = ["maid build -q", "./build/ant -d %{arg.1}"]
