[tasks.build]
path = "build"
script = "meson compile"

[tasks.strip]
path = "build"
script = "strip ant"

[tasks.download]
script = [".github/download.sh", "open .github/artifacts"]

[tasks.run]
script = ["maid build -q", "./build/ant %{arg.1}"]

[tasks.spec]
script = ["maid build -q", "./build/ant examples/spec/%{arg.1}.js"]

[tasks.amber]
script = "amber build .github/install/install.ab install.sh"

[tasks.save_spec]
script = ['rm spec.txt', '''
   bash -c 'ant examples/spec/run.js \
   | sed "s/\x1b\[[0-9;]*[a-zA-Z]//g" > spec.txt'
''']

[tasks.setup]
script = ['meson subprojects download', '''
   bash -c 'CC="ccache $(which clang)" \
   meson setup build --wipe'
''']

[tasks.asan]
script = ['meson subprojects download', '''
   bash -c 'CC="ccache $(which clang)" \
   meson setup build --wipe -Db_sanitize=address -Doptimization=0 -Db_lto=false -Dstrip=false -Db_lundef=false'
''']

[tasks.install]
script = ["maid build -q", "maid strip", '''
   bash -c 'which ant && cp ./build/ant "$(which ant)" || 
   { mkdir -p ~/.local/bin && cp ./build/ant ~/.local/bin/; }'
''']

[tasks.debug]
script = ['meson subprojects download', '''
   bash -c 'CC="ccache $(which clang)" \
   meson setup build --wipe --buildtype=debug -Doptimization=0 -Db_lto=false -Dstrip=false -Db_lundef=false -Dunity=off'
''']

[tasks.embed_example]
script = ['''
   bash -c 'CC="ccache $(which clang)" \
   meson setup build -Dbuild_examples=true 2>/dev/null || true'
''', "meson compile -C build", "./build/embed_example"]
