[tasks.build]
path = "build"
script = "meson compile"

[tasks.clean]
path = "build"
script = "meson clean"

[tasks.run]
script = ["maid build -q", "./build/ant %{arg.1}"]

[tasks.spec]
script = ["maid build -q", "./build/ant examples/spec/%{arg.1}.js"]

[tasks.save_spec]
script = ['rm spec.txt', '''
   bash -c 'ant examples/spec/run.js \
   | sed "s/\x1b\[[0-9;]*[a-zA-Z]//g" > spec.txt'
''']

[tasks.setup]
script = ['meson subprojects download', '''
   bash -c 'CC="ccache $(which clang)" \
   meson setup build --wipe'
''']

[tasks.install]
script = '''
   bash -c 'which ant && cp ./build/ant "$(which ant)" || 
   { mkdir -p ~/.local/bin && cp ./build/ant ~/.local/bin/; }'
'''
