[tasks.build]
path = "build"
script = "meson compile"

[tasks.clean]
path = "build"
script = "meson clean"

[tasks.setup]
script = "bash -c 'CC=\"ccache /opt/homebrew/opt/llvm/bin/clang\" meson setup build --wipe -Dc_args=-DNO_EXECUTE_PERMISSION'"

[tasks.run]
script = ["maid build -q", "./build/ant %{arg.1}"]

[tasks.debug]
script = ["maid build -q", "./build/ant -d %{arg.1}"]
